.cont {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.logotext,
.link {
  text-decoration: none;
  color: #1d173c;
  font-weight: bolder;
  font-size: 24px;
}

.options {
  display: flex;
  column-gap: 6rem;
  justify-content: center;
  align-items: center;
}

.links,
.linksMob {
  display: flex;
  column-gap: 2rem;
}

.linksMob {
  flex-direction: column;
  row-gap: 1rem;
}

.link {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: #7064f6;
  color: #1d173c;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.link:hover,
.active,
.link:active {
  background: #e7e6f6;
  color: #998fd8;
}

.login,
.signup {
  padding: 0.7rem 1rem;
  margin: 0 0.5rem;
  background: white;
  color: #7064f6;
  border: 1px solid #7064f6;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.signup {
  color: white;
  background: #7064f6;
  border: 1px solid #7064f6;
}

.login:hover,
.signup:hover {
  box-shadow: 0px 0px 20px 4px #ccc;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.navbarMob {
  display: none;    
} 


@media (max-width: 840px) {
  .hamburger {
    display: block;
  }

  .close {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
  }

  .links,
  .auth {
    display: none;
  }

  .cont {
    padding: 0 1.5rem;
  }

  .navbarMob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 110;
    padding: 1rem;
    row-gap: 3rem;
    transition: all 0.5s ease-out;
  }

  .opened {
    transform: translateX(0);
    opacity: 1;
  }

  .closed {
    transform: translateX(100%);
    opacity: 0;
  }
}
