.cont {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
}

.img {
  width: 35%;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background: #7064f6;
  padding: 1rem;
  border: 2px solid white;
  transition: all 0.5s ease-out;
}

a:hover,
a:active {
  color: #7064f6;
  border-bottom: 2px solid #7064f6;
  background: white;
}

@media (max-width: 756px) {
  .img {
    width: 60%;
  }
}